body{
    background: url(https://i.pinimg.com/originals/18/d8/6c/18d86c6b5c3d7aea99f41f56e1627f45.jpg);
    background-size: cover;
}


.container{
  width: 90%;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3em;
  margin-bottom: 3em;

  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 30px;
}


.item{
  background-color: #fff;
  cursor: pointer;
  box-shadow: 0 0 5px 0 rgba(0,0,0,.095);

  transition: all 300ms;

  position: relative;
}


.item::after {
  content: "";
  background-color: rgba(179, 229, 252, .1);
  width: 100%;
  height: 100%;
  position: absolute;
  top:0;
  left: 0;
  transform: scale(0);
  transition: all 300ms;
  opacity: 0;
}

.item:hover:after{
  opacity: 1;
  transform: scale(1);
}

.item:hover {
  transform: scale(1.05);
}

.item-text{
  padding: 1em;
}


.item-img{
  max-width: 100%;
  display: block;
}



/*------------------index------------------------------*/

.titulo {
  /* Add position: relative to enable absolutely positioned elements inside the image (place text) */
  position: center;
  /* Add a white text color to all elements inside the .bgimg container */
  color: black;
  /* Add a font */
  font-family: "Copperplate", Copperplate, fantasy;
  font-size: 50px;
}

.frase {
  /* Add position: relative to enable absolutely positioned elements inside the image (place text) */
  position: relative;
  /* Add a white text color to all elements inside the .bgimg container */
  color: black;
  /* Add a font */
  font-family: "Lucida Handwriting", Lucida Handwriting, cursive;
  /* Set the font-size to 25 pixels */
  font-size: 25px;
}

.item-img1{
  width: 60%;
  height: 65%;
  display: block;
  margin-left:auto;
  margin-right:auto;


}



/* Position text in the middle */
.middle {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/* Style the <hr> element */
hr {
  margin: auto;
  width: 40%;
}

li{
  color: white;
  /* Add a font */
  font-family: "Lucida Handwriting", Lucida Handwriting, cursive;
  /* Set the font-size to 25 pixels */
  font-size: 15px;
}



