{% extends "layout.html" %}

{% block title %}
    editar
{% endblock %}

{% block main %}

<form action="/editar" method="post">

        <div class="form-group">
            <select class="form-control" name="ruta">
                <option disabled selected value="">Enviar a</option>
                <option value="Hoteles">Hoteles</option>
                <option value="Lugares">Lugares</option>
                <option value="Ofertas">Ofertas</option>
            </select>
        </div>

        <button class="btn btn-primary" type="submit">Seleccionar</button>


    </form>

{% endblock %}