{% extends "layout.html" %}

{% block title %}
    editar
{% endblock %}

{% block main %}

<form action="/editar" method="post">

        <div class="form-group">
            <select class="form-control" name="ruta">
                <option disabled selected value="">Enviar a</option>
                <option value="Hoteles">Hoteles</option>
                <option value="Lugares">Lugares</option>
                <option value="Ofertas">Ofertas</option>
            </select>
        </div>

        <div class="form-group">
            <select class="form-control" name="opc">
                <option disabled selected value="">Seleccione</option>
                {% for row in rows %}
                <option value="{{row.nombre}}">{{row.nombre}}</option>
                {% endfor %}
            </select>
        </div>


        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="nombre" placeholder="Nombre del Lugar" type="text"/>
        </div>

        <div class="form-group">
            <input class="form-control" name="departamento" placeholder="Departamento" type="text"/>
        </div>

        <div class="form-group">
            <input class="form-control" name="descripcion" placeholder="Descripcion" type="text"/>
        </div>

        <div class="form-group">
            <input class="form-control" name="precio" placeholder="Precio" type="text"/>
        </div>

        <div class="form-group">
            <input class="form-control" name="url" placeholder="url(imagen)" type="text"/>
        </div>

        <button class="btn btn-primary" type="submit">Actualizar</button>


    </form>

{% endblock %}