{% extends "layout.html" %}

{% block title %}
    lugares
{% endblock %}

{% block main %}

    {%for row in rows%}
    <div class="container">
        <div class="item">
          <img src="{{row.urlimage}}" alt="" class="item-img">
          <div class="item-text">
            <h3>{{row.nombre}}, {{row.departamento}} </h3>
            <p>{{row.descripcion}}</p>
            <p>precio: {{row.precio}}$</p>
          </div>
        </div>
      </div>
    {%endfor%}



    <div class="container">
    <div class="item">
      <img src="/static/masaya.jpg" alt="" class="item-img">
      <div class="item-text">
        <h3>Imagen 1</h3>
        <p>Lorem ipsum dolor sit amet, consectetur.</p>
      </div>
    </div>

    <div class="item">
      <img src="/static/granada.jpg" alt="" class="item-img">
      <div class="item-text">
        <h3>Imagen 1</h3>
        <p>Lorem ipsum dolor sit amet, consectetur.</p>
      </div>
    </div>

    <div class = "item">
      <img src = "/static/leon.jpg" alt="" class="item-img">
      <div class="item-text">
        <h3>León</h3>
        <p>Lorem ipsum dolor sit amet, consectetur.</p>
      </div>
    </div>

    <div class = "item">
      <img src = "/static/SanJuandelSur.jpg" alt="" class="item-img">
      <div class="item-text">
        <h3>San Juan del Sur</h3>
        <p>Lorem ipsum dolor sit amet, consectetur.</p>
      </div>
    </div>

    <div class = "item">
      <img src = "/static/chinandega.jpg" alt="" class="item-img">
      <div class="item-text">
        <h3>Chinandega</h3>
        <p>Lorem ipsum dolor sit amet, consectetur.</p>
      </div>
    </div>

    <div class = "item">
      <img src = "/static/Matagalpa.jpg" alt="" class="item-img">
      <div class="item-text">
        <h3>Matagalpa</h3>
        <p>Lorem ipsum dolor sit amet, consectetur.</p>
      </div>
    </div>

    <div class = "item">
        <img src = "/static/Esteli.jpg" alt="" class="item-img">
      <div class="item-text">
        <h3>Esteli</h3>
        <p>Lorem ipsum dolor sit amet, consectetur.</p>
      </div>
    </div>


{% endblock %}